[user]
    email = jose.coelho@skybettingandgaming.com
    name  = Jose Coelho
[color]
    branch     = auto
    diff       = auto
    status     = auto
    showbranch = auto
    ui         = true
[color "status"]
    added     = yellow
    changed   = green
    untracked = cyan
[apply]
    whitespace = nowarn
[branch]
    autosetuprebase = always
    autosetupmerge  = true
[rerere]
    enabled = 1
[log]
    date = short
[format]
    pretty = '%C(yellow)%h%Creset %C(magenta)%cd%Creset %d %s'
[push]
    default = current
[merge]
    ff     = only
    commit = no
    stat   = true
[alias]
    squash  = "!f() { git commit --squash $(git rev-parse --abbrev-ref HEAD); }; f"
    squash2 = "!f() { git commit --squash $(git rev-parse --abbrev-ref HEAD) && git rebase -i --autosquash \"${1:-master}\" ; }; f"
    com     = "!f() { git commit -em \"[refs $(git rev-parse --abbrev-ref HEAD|cut -d'/' -f2-)] $*\"; }; f"
    tag-gps = "!f() { git tag $(date +'v%Y%m%d-%H%M') && git push --tags; }; f"
[rebase]
    autosquash = true
